div{
	width: 25%;
	padding: 5px;
	margin: 5px;
	border: 5px solid;
}
#three{
	border-color: orange;
	display: inline-block;
	position: fixed;
}
#one{
	margin-left: 70%;
	margin-top: 20%;
	border-color: blue;
	display: inline-block;
	position: fixed;
}
#two{
	margin-left: 70%;
	border-color: green;
	display: inline-block;
	position: fixed;
}
#four{
	margin-top: 20%;
	border-color: yellow;
	display: inline-block;
	position: fixed;
}
#link a{
	text-decoration: none;
	display: inline-block;
	background: #3554c4;
	color: #fefefe;
	margin-left: 48%;
}
